{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>{{ 'Editar Repuesto' if repuesto else 'Agregar Nuevo Repuesto' }}</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
              {{ form.codigo.label(class="form-label") }}
              {{ form.codigo(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.marca.label(class="form-label") }}
              {{ form.marca(class="form-control") }}

            <div class="mb-3">
              {{ form.modelo.label(class="form-label") }}
              {{ form.modelo(class="form-control") }}
            </div>

            <div class="mb-3">
              {{ form.precio_c.label(class="form-label") }}
              {{ form.precio_c(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.precio_v.label(class="form-label") }}
              {{ form.precio_v(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.categorias.label(class="form-label") }}
              {{ form.categorias(class="form-select") }}
            </div>

            <div class="mb-3">
              {{ form.cantidad.label(class="form-label") }}
              {{ form.cantidad(class="form-control") }}
            </div>

            <div class="mb-3">
              {{ form.compatibilidad.label(class="form-label") }}
              {{ form.compatibilidad(class="form-control") }}
            </div>

            <div class="mb-3">
              {{ form.fecha_ingreso.label(class="form-label") }}
              {{ form.fecha_ingreso(class="form-control") }}
            </div>

            <div class="text-center">
              {{ form.submit(class="btn btn-success") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}