{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <h2 class="text-center mb-4">Lista de Repuestos</h2>

  <!-- FORMULARIO DE FILTROS -->
  <form method="get" class="row g-3 mb-4">
    <div class="col-md-4">
      <label for="categoria" class="form-label">Filtrar por categoría:</label>
      <select name="categoria" id="categoria" class="form-select" onchange="this.form.submit()">
        <option value="" {% if not request.args.get('categoria') %}selected{% endif %}>Todas</option>
        {% for cat in categorias %}
          <option value="{{ cat.nombre }}" {% if request.args.get('categoria') == cat.nombre %}selected{% endif %}>
            {{ cat.nombre }}
          </option>
        {% endfor %}
      </select>
      <a href="{{ url_for('inventory.crear_categorias') }}" class="btn btn-primary mt-2">Agregar categoría</a>
    </div>
    

    <div class="col-md-4">
      <label for="busqueda" class="form-label">Buscar repuesto:</label>
      <input type="text" name="busqueda" id="busqueda" class="form-control" value="{{ request.args.get('busqueda', '') }}">
    </div>

    <div class="col-md-4">
      <label for="filtro" class="form-label">Stock:</label>
      <select name="filtro" id="filtro" class="form-select" onchange="this.form.submit()">
        <option value="">Todos</option>
        <option value="bajos" {% if request.args.get('filtro') == 'bajos' %}selected{% endif %}>Stock bajo (≤ 3)</option>
      </select>
    </div>
</form>



  <!-- BOTÓN NUEVO REPUESTO -->
  <div class="mb-3 text-end">
    <a href="{{ url_for('inventory.nuevo') }}" class="btn btn-success">Agregar nuevo</a>
  </div>

  <!-- LISTADO EN TABLA -->
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for repuesto in repuestos %}
        <tr>
          <td>{{ repuesto.nombre }}</td>
          <td>{{ repuesto.categoria.nombre }}</td>
          <td>{{ repuesto.cantidad }}</td>
          <td>${{ repuesto.precio }}</td>
          <td>
            <a href="{{ url_for('inventory.editar', id=repuesto.id) }}" class="btn btn-sm btn-warning">Editar</a>
            <a href="{{ url_for('inventory.eliminar', id=repuesto.id) }}" class="btn btn-sm btn-danger">Eliminar</a>
            <a href="{{ url_for('inventory.agregar_instalacion', id=repuesto.id) }}" class="btn btn-sm btn-info">Seleccionar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
